html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.gridbg {
  background-image: repeating-linear-gradient(0deg, rgba(9, 23, 43, 1), rgba(9, 23, 43, 1) 1px, transparent 1px, transparent 20px), repeating-linear-gradient(-90deg, rgba(9, 23, 43, 1), rgba(9, 23, 43, 1) 1px, transparent 1px, transparent 20px);
  background-size: 10px 10px;
  background-position: 1px 1px;
  background-color: rgb(14, 28, 48);
}